div#map-container{
    height:100%;
    margin-top:30px;
}

#date-slider-container{
    width: 40%;
    margin: 0 auto;
}

#date-slider{
    padding-top: 20px;
    padding-left: 10px;
    padding-right:10px;
}

div#county-data{
    overflow-y:scroll;
}

div#sidebar{
    height:85%;
}

div#county-data{
    height:inherit;
}

.inline{
    display:inline-block;
}

#countyModal .modal-dialog{
    width:80%;
    margin-top:10%
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}

div#county-plot{
    height:600px;
    margin-top:30px;
}

tr.btn-county{
    cursor:pointer;
}